*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --colorVioleta: #9810B3;
    --colorNegro: #09010B;
    --colorBlanco: #F9F9F9;
    --colorRojo: #BB1818;
    --fuenteBotones: 'Staatliches', cursive;
    --fuenteLetras: 'Roboto', sans-serif;
  }
body{
    background-image: linear-gradient(180deg, var(--colorNegro), var(--colorVioleta));
    min-height: 100vh;
    width: 100%;
    
}
img{
    margin-top: 30px;
    display: flex;
    margin: auto;
    align-items: center;
    width: 300px;
    margin-bottom: 30px;
    border-radius: 50px;
    border: solid var(--colorNegro) 5px;
    
}

p{
    text-align: center;
    font-family: var(--fuenteLetras);
    font-weight: 900;
    color: var(--colorRojo);
    font-size: 18px;
    width: 100%;
}
.info{
    text-align: center;
    font-family: var(--fuenteLetras);
    font-weight: 900;
    color: var(--colorBlanco);
    font-size: 18px;
    width: 100%;
}
.form{
   
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: var(--colorBlanco);
    width: 90%;
    max-width: 600px;
    border-radius: 25px 0px 25px 0px;
    padding: 3.5rem 1.5rem;
}

.form-container{
    width: 100%;
    max-width: 400px;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.form-titulo{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    font-family: var(--fuenteLetras);
    margin-bottom: 0.4em;
}

.form-input{
    font-family: var(--fuenteLetras);
    text-align: justify;
    font-weight: 900;
    font-size: 1rem;
    padding: 0.8em 1em;
    outline:none;
    border: solid var(--colorVioleta) 2px;
    border-radius: 25px 0px 25px 0px;
    cursor: pointer;
}

.form-input-mensaje{
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: 0.5em;

}

.form-cta{
    width: 50%;
    align-items: center;
    justify-content: center;
    margin:auto;
    font-family: var(--fuenteBotones);
    color: var(--colorBlanco);
    letter-spacing: 3px;
    background-image: linear-gradient(180deg, var(--colorNegro), var(--colorVioleta));
    padding: 0.7em  0em;
    border-radius: 25px 0px 25px 0px;
    transition:ease-in 0.3s ease-in;
}
.form-cta:hover{
    font-family: var(--fuenteBotones);
    color: var(--colorBlanco);
    letter-spacing: 3px;
    background-image: linear-gradient(180deg, var(--colorVioleta), var(--colorNegro));
    transition:ease-in 0.3s ease-in;
}

.form button{
    margin: auto;
    width: 19%;
    background-color: var(--colorBlanco);
    border-radius: 15px 0px 15px 0px;
}
.form a{
    color: var(--colorNegro);
    text-decoration: none;
    font-weight: 900;
    transition: all 0.3s ease;
}
.form a:hover{
    color: var(--colorRojo);
}

.form .volver{
    width: 50%;

}

#copy{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--fuenteLetras);
    color: var(--colorBlanco);
}


@media screen and (max-width: 450px){
    .form{
        padding: 3.5em 1em;

    }
}