* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

:root {
  --colorVioleta: #9810B3;
  --colorNegro: #09010B;
  --colorBlanco: #F9F9F9;
  --colorRojo: #BB1818;
  --fuenteMenu: 'Montserrat', sans-serif;
  --fuenteBotones: 'Staatliches', cursive;
  --fuenteLetras: 'Roboto', sans-serif;
  --fuenteTitPrincipal: 'Saira', sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 10rem;
  padding: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--colorVioleta)), to(var(--colorNegro)));
  background-image: linear-gradient(180deg, var(--colorVioleta), var(--colorNegro));
  border-bottom: solid 1px silver;
  margin-bottom: 20px;
}

.logo {
  position: absolute;
  margin-top: 10px;
  width: 300px;
  height: 85px;
  float: left;
  border-radius: 50px;
  -webkit-box-shadow: black 2px 2px 0px 0px;
          box-shadow: black 2px 2px 0px 0px;
}

.icono-menu {
  display: none;
}

/*MENU*/
.iconoMenu {
  display: none;
}

#menu {
  width: 100%;
}

#menu .logo-menu {
  display: none;
}

#menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#menu li {
  list-style: none;
  margin-top: 10px;
}

#menu li ul {
  text-align: center;
}

#menu a {
  font-family: var(--fuenteMenu);
  color: var(--colorBlanco);
  font-size: 16px;
  text-decoration: none;
  padding: 0px 20px;
}

#menu ul li a:hover {
  color: #BB1818;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  text-decoration: underline;
}

#menu ul li ul a {
  display: none;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}

#menu ul li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  position: absolute;
  width: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: var(--fuenteMenu);
}

#menu li:hover > ul {
  margin-top: 10px;
  display: block;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--colorNegro)), to(var(--colorVioleta)));
  background-image: linear-gradient(180deg, var(--colorNegro), var(--colorVioleta));
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 10;
}

#menu li:hover > ul a {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  text-align: center;
  font-size: 18px;
  padding: 10px 10px 0px 10px;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
  font-family: var(--fuenteMenu);
  font-weight: 500;
  border-bottom: solid grey 2px;
}

.cont-menu h1 {
  display: none;
}

/*CONTENIDO*/
#contenido {
  display: block;
  width: 100%;
}

#contenido .aclaracion {
  text-align: center;
  margin-top: 10vh;
  font-size: 25px;
  font-weight: 800;
  font-family: var(--fuenteLetras);
  color: var(--colorVioleta);
}

#contenido .botonContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #458d1b;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: solid green 3px;
}

#contenido .botonContacto a {
  color: var(--colorBlanco);
  font-size: 30px;
}

#contenido .botonContacto:hover {
  background-color: #64ca29;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contenidoprepsup {
  margin: auto;
}

.contenidoprepsup h1 {
  text-align: center;
  font-family: var(--fuenteBotones);
}

.contenidoprepsup h3 {
  margin-top: 35px;
  text-align: center;
  font-family: var(--fuenteBotones);
  font-size: 50px;
  color: var(--colorRojo);
}

.contenidoprepsup .aclaracion {
  display: none;
  text-align: center;
  font-size: 20px;
}

.contenidoprepsup .aclaracionAbajo {
  text-align: center;
  margin-top: 60px;
  font-size: 25px;
  font-weight: 800;
  font-family: var(--fuenteLetras);
  color: var(--colorVioleta);
}

.contenidoprepsup .botonContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3a7717;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: solid #64ca29 3px;
}

.contenidoprepsup .botonContacto a {
  color: var(--colorBlanco);
  font-size: 30px;
}

.contenidoprepsup .botonContacto:hover {
  background-color: #64ca29;
  border-color: #3a7717;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contenidoprepsup .clickea {
  text-align: center;
  font-size: 20px;
  font-family: var(--fuenteLetras);
  font-weight: 900;
  color: grey;
}

.contenidoprepsup .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.contenidoprepsup .banner img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 1000px;
  height: 500px;
}

.listaProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  /*MODAL LATEX*/
  /*MODAL FIJADOR*/
  /*Modal latex exterior*/
  /*Modal enduido exterior*/
}

.listaProductos .modal-container {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.507);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}

.listaProductos .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  height: 95%;
  background: var(--colorBlanco);
  overflow: hidden;
  margin: auto;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  border: var(--colorNegro) solid 2px;
  border-radius: 25px 0px 25px 0px;
}

.listaProductos .modal-cerrar {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.listaProductos .modal > img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  height: 35%;
  border: var(--colorNegro) solid 2px;
  border-radius: 15px 0px 15px 0px;
}

.listaProductos .modal h2 {
  text-align: center;
  font-family: var(--fuenteBotones);
  color: var(--colorRojo);
  text-shadow: 2px 2px rgba(128, 128, 128, 0.548);
  font-size: 20px;
}

.listaProductos .modal-descripcion {
  text-align: center;
  font-family: var(--fuenteLetras);
  font-weight: 900;
  font-size: 15px;
  width: 80%;
}

.listaProductos .modal-textos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listaProductos .modal-textos h3 {
  font-size: 18px;
}

.listaProductos .modal-textos .beneficios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  font-family: var(--fuenteLetras);
  font-weight: 900;
  font-size: 15px;
  text-align: center;
}

.listaProductos .cerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 40px;
  font-weight: 1000;
  color: var(--colorRojo);
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.listaProductos .cerrar:hover {
  color: #6e0909;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.listaProductos .comprar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 5px 5px 5px;
  color: var(--colorRojo);
  font-family: var(--fuenteBotones);
  text-decoration: none;
  font-size: 18px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 20px;
  border: solid var(--colorNegro) 1px;
  border-radius: 10px;
}

.listaProductos .comprar:hover {
  color: var(--colorVioleta);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.listaProductos .segundo-modal-container {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.507);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}

.listaProductos .segundo-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  height: 95%;
  background: var(--colorBlanco);
  overflow: hidden;
  margin: auto;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  border: var(--colorNegro) solid 2px;
  border-radius: 25px 0px 25px 0px;
}

.listaProductos .segundo-modal-cerrar {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.listaProductos .segundo-modal > img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  height: 35%;
  border: var(--colorNegro) solid 2px;
  border-radius: 15px 0px 15px 0px;
}

.listaProductos .segundo-modal h2 {
  text-align: center;
  font-family: var(--fuenteBotones);
  color: var(--colorRojo);
  text-shadow: 2px 2px rgba(128, 128, 128, 0.548);
  font-size: 20px;
}

.listaProductos .segundo-modal-descripcion {
  text-align: center;
  font-family: var(--fuenteLetras);
  font-weight: 900;
  font-size: 15px;
  width: 80%;
}

.listaProductos .segundo-modal-textos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listaProductos .segundo-modal-textos h3 {
  font-size: 18px;
}

.listaProductos .segundo-modal-textos .beneficios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  font-family: var(--fuenteLetras);
  font-weight: 900;
  text-align: center;
}

.listaProductos .cerrar-dos {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 40px;
  font-weight: 1000;
  color: var(--colorRojo);
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.listaProductos .cerrar-dos:hover {
  color: #6e0909;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.listaProductos .comprar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 5px 5px 5px;
  color: var(--colorRojo);
  font-family: var(--fuenteBotones);
  text-decoration: none;
  font-size: 18px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 20px;
  border: solid var(--colorNegro) 1px;
  border-radius: 10px;
}

.listaProductos .comprar:hover {
  color: var(--colorVioleta);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.listaProductos .tercer-modal-container {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.507);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}

.listaProductos .tercer-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  height: 98%;
  background: var(--colorBlanco);
  overflow: hidden;
  margin: auto;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  border: var(--colorNegro) solid 2px;
  border-radius: 25px 0px 25px 0px;
}

.listaProductos .tercer-modal-cerrar {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.listaProductos .tercer-modal > img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  height: 30%;
  border: var(--colorNegro) solid 2px;
  border-radius: 15px 0px 15px 0px;
}

.listaProductos .tercer-modal h2 {
  text-align: center;
  font-family: var(--fuenteBotones);
  color: var(--colorRojo);
  text-shadow: 2px 2px rgba(128, 128, 128, 0.548);
  font-size: 28px;
}

.listaProductos .tercer-modal-descripcion {
  text-align: center;
  font-family: var(--fuenteLetras);
  font-weight: 900;
  font-size: 13px;
  width: 80%;
}

.listaProductos .tercer-modal-textos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listaProductos .tercer-modal-textos h3 {
  font-size: 18px;
}

.listaProductos .tercer-modal-textos .beneficios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  font-family: var(--fuenteLetras);
  font-weight: 900;
  font-size: 12px;
  margin-top: -10px;
}

.listaProductos .cerrar-tres {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 40px;
  font-weight: 1000;
  color: var(--colorRojo);
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.listaProductos .cerrar-tres:hover {
  color: #6e0909;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.listaProductos .comprar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 5px 5px 5px;
  color: var(--colorRojo);
  font-family: var(--fuenteBotones);
  text-decoration: none;
  font-size: 18px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 20px;
  border: solid var(--colorNegro) 1px;
  border-radius: 10px;
}

.listaProductos .comprar:hover {
  color: var(--colorVioleta);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.listaProductos .cuarto-modal-container {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.507);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}

.listaProductos .cuarto-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  height: 95%;
  background: var(--colorBlanco);
  overflow: hidden;
  margin: auto;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  border: var(--colorNegro) solid 2px;
  border-radius: 25px 0px 25px 0px;
}

.listaProductos .cuarto-modal-cerrar {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.listaProductos .cuarto-modal > img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  height: 35%;
  border: var(--colorNegro) solid 2px;
  border-radius: 15px 0px 15px 0px;
}

.listaProductos .cuarto-modal h2 {
  text-align: center;
  font-family: var(--fuenteBotones);
  color: var(--colorRojo);
  text-shadow: 2px 2px rgba(128, 128, 128, 0.548);
  font-size: 20px;
}

.listaProductos .cuarto-modal-descripcion {
  text-align: center;
  font-family: var(--fuenteLetras);
  font-weight: 900;
  font-size: 15px;
  width: 80%;
}

.listaProductos .cuarto-modal-textos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listaProductos .cuarto-modal-textos h3 {
  font-size: 18px;
}

.listaProductos .cuarto-modal-textos .beneficios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  font-family: var(--fuenteLetras);
  font-weight: 900;
  font-size: 15px;
  text-align: center;
}

.listaProductos .cerrar-cuatro {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 40px;
  font-weight: 1000;
  color: var(--colorRojo);
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.listaProductos .cerrar-cuatro:hover {
  color: #6e0909;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.listaProductos .comprar-cuatro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 5px 5px 5px;
  color: var(--colorRojo);
  font-family: var(--fuenteBotones);
  text-decoration: none;
  font-size: 18px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 20px;
  border: solid var(--colorNegro) 1px;
  border-radius: 10px;
}

.listaProductos .comprar-cuatro:hover {
  color: var(--colorVioleta);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.listaProductos .quinto-modal-container {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.507);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}

.listaProductos .quinto-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  height: 95%;
  background: var(--colorBlanco);
  overflow: hidden;
  margin: auto;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  border: var(--colorNegro) solid 2px;
  border-radius: 25px 0px 25px 0px;
}

.listaProductos .quinto-modal-cerrar {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.listaProductos .quinto-modal > img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  height: 35%;
  border: var(--colorNegro) solid 2px;
  border-radius: 15px 0px 15px 0px;
}

.listaProductos .quinto-modal h2 {
  text-align: center;
  font-family: var(--fuenteBotones);
  color: var(--colorRojo);
  text-shadow: 2px 2px rgba(128, 128, 128, 0.548);
  font-size: 20px;
}

.listaProductos .quinto-modal-descripcion {
  text-align: center;
  font-family: var(--fuenteLetras);
  font-weight: 900;
  font-size: 15px;
  width: 80%;
}

.listaProductos .quinto-modal-textos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listaProductos .quinto-modal-textos h3 {
  font-size: 18px;
}

.listaProductos .quinto-modal-textos .beneficios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  font-family: var(--fuenteLetras);
  font-weight: 900;
  font-size: 15px;
  text-align: center;
}

.listaProductos .cerrar-cinco {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 40px;
  font-weight: 1000;
  color: var(--colorRojo);
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.listaProductos .cerrar-cinco:hover {
  color: #6e0909;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.listaProductos .comprar-cinco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 5px 5px 5px;
  color: var(--colorRojo);
  font-family: var(--fuenteBotones);
  text-decoration: none;
  font-size: 18px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 20px;
  border: solid var(--colorNegro) 1px;
  border-radius: 10px;
}

.listaProductos .comprar-cinco:hover {
  color: var(--colorVioleta);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.productosCaja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  width: calc(100%/5 - 20px);
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.productosCaja:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.productosCaja a {
  text-decoration: none;
}

.producto {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 8px 3px #ccc;
          box-shadow: 0 0 8px 3px #ccc;
  background-color: #fff;
}

.producto img {
  width: 100%;
  border-radius: 25px 0px 0px 25px;
}

.detalle-titulo {
  padding: 5px;
  text-align: center;
  font-size: 18px;
  color: var(--colorRojo);
  width: calc(100% - 10px);
}

.detalle-descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: var(--fuenteBotones);
  font-size: 15px;
  color: var(--colorVioleta);
  padding: 5px;
  width: calc(100% - 10px);
}

/*FOOTER*/
footer {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--colorNegro)), to(var(--colorVioleta)));
  background-image: linear-gradient(180deg, var(--colorNegro), var(--colorVioleta));
  margin-top: 50px;
}

footer .foot {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

footer .footUno {
  text-align: center;
}

footer .footUno h3 {
  margin-top: 10px;
  color: var(--colorBlanco);
}

footer .footUno a {
  color: var(--colorBlanco);
  padding-top: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer .footUno .iconowsp {
  font-size: 30px;
}

footer .footUno .iconomsj {
  font-size: 30px;
}

footer .footUno a:hover {
  color: var(--colorRojo);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer .footDos {
  text-align: center;
}

footer .footDos h3 {
  margin-top: 10px;
  color: var(--colorBlanco);
}

footer .footDos a {
  display: block;
  color: var(--colorBlanco);
  padding-top: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer .footDos a:hover {
  color: var(--colorRojo);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer .footTres {
  text-align: center;
}

footer .footTres h3 {
  margin-top: 10px;
  color: var(--colorBlanco);
}

footer .footTres a {
  display: block;
  color: var(--colorBlanco);
  padding-top: 10px;
  font-size: 30px;
}

footer .footTres .iconofb {
  color: var(--colorBlanco);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer .footTres .iconofb:hover {
  color: #070774;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer .footTres .iconoig {
  color: var(--colorBlanco);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer .footTres .iconoig:hover {
  color: #c000c0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer .direc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--fuenteLetras);
  font-size: 12px;
  font-weight: 900;
  color: var(--colorBlanco);
}

footer #copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--colorBlanco);
  font-size: 12px;
}
/*# sourceMappingURL=prepsup.css.map */